<nav id="MainNavbar" class="shadow-bottom">
    <div class="nav-wrapper">
        <a class="brand-logo">Logo</a>
<!--            <div class="badge right logged radius">
        </div> -->
        <ul class="right hide-on-med-and-down">
          <li *ngIf="!logged && router.url != '/login'"><a routerLink="/login">Login</a></li>
          <li *ngIf="logged"><a routerLink="/login">Logout</a></li>
          <li *ngIf="!logged && router.url != '/register'"><a routerLink="/register">Register</a></li>
          <li *ngIf="logged">
              <a href="#" onClick="return false;" class="badge">
                  {{ user.username }}
              </a>
          </li>
        </ul>
    </div>
</nav>