<div id="Main">
<div id="Dashboard" class="row p-tb-2 bb f-h">
    <div class="col s7 p-tb-0 f-h bb b-r-1">
        <div class="row f-h m-b-0">
            <div id="UserDecks" class="col s6">
                <div class="block f-h bb">
                    
                </div>
            </div>
            <div id="UserFriends" class="col s6">
                <div class="block f-h bb">
                    
                </div>
            </div>
            <div id="UserCards" class="col s12">
                <div class="block f-h bb">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col s5 p-tb-0 f-h bb">
        <div class="row f-h m-b-0">
            <div id="UserScore" class="col s12">
                <div class="block f-h bb">
                    
                </div>
            </div>
            <div id="UserStats" class="col s12">
                <div class="block f-h bb">
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

